p, span {
    color: red; 
    width: 300px;
 } 
 /** comentario
 */    
 h1 { 
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
    /* padding= 20px 15px 15px 20px 
    se aplica en el sentido de las agujas del reloj*/
     font-weight: bold; 
     color: blueviolet;


  }


  section {
   width: 300px;
   border: 15px solid green;
   padding: 50px;
   margin: 20px;

 }

 #mi_parrafo { 
   color: black;
   font-size: 23px; 
   border: 1px solid black;

 }

 .estaesmiclase {

   font-weight: bold;
   color: blueviolet;

 }

 section h1 { 
color: black;
font-size: 60px;
font-family: 'Permanent Marker', cursive;
 }